---
layout: page
title: "About"
description: "Hey, this is Hux."
header-img: "img/about-bg.jpg"
---
<blockquote>
    匠人匠心
</blockquote>
人生很多事急不得，你得等它自己熟。<br>
我二十出头入行，三十年写了不到三百首歌，当然算是量少的。<br>
我想一个人有多少天分，跟出什么样的作品，并无太大的关联。<br>
天分我还是有的，我有能耐住性子的天分。<br>
人不能孤独地活着，之所以有作品，是为了沟通。<br>
透过作品去告诉人家：心里的想法、眼中看世界的样子、所在意的、所珍惜的。<br>
所以，作品就是自己。<br>
所有精工制作的物件，最珍贵、最不能替代的，就只有一个字——“人”。<br>
人有情怀、有信念、有态度。<br>
所以，没有理所当然。就是要在各种变数、可能之中，仍然做到最好。<br>
世界再嘈杂，匠人的内心，绝对必须是安静、安定的。<br>
面对大自然赠予的素材，我得先成就它，它才有可能成就我。<br>
我知道手艺人往往意味着固执、缓慢、少量、劳作。<br>
但是，这些背后所隐含的是专注、技艺、对完美的追求。<br>
所以我们宁愿这样，也必须这样，也一直这样。<br>
为什么？我们要保留我们最珍贵的、最引以为傲的。<br>
一辈子总是还得让一些善意执念推着往前，<br>
我们因此能愿意去听从内心的安排。<br>
专注做点东西，至少对得起光阴、岁月。其他的就留给时间去。<br>
<p style="text-align:right;">
    —— 文摘于 New Balance 广告《致匠心》
</p>


{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
